body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  background: #0f172a;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.file-box {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

#chat {
  background: #020617;
  height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 10px;
}

.msg {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
}

.enviar {
  background: #2563eb;
  margin-left: auto;
}

.receber {
  background: #334155;
}